<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Z21_IP" value="192.168.0.111" />
    <add key="Z21_Port" value="21105" />
    <add key="Z21_Abos_Alle_Railcom" value="false" />
    <add key="Z21_Abos_Railcom" value="false" />
    <add key="Z21_Abos_Alle_Loks" value="true" />
    <add key="Z21_Abos_Loks" value="true" />
    <add key="Z21_Abos_RMBus" value="false" />
    <add key="Z21_Abos_CANBus" value="false" />
    <add key="Z21_Abos_System_Status" value="true" />
    <add key="Z21_Abos_LOCONET_Basic" value="false" />
    <add key="Z21_Abos_LOCONET_Loks" value="false" />
    <add key="Z21_Abos_LOCONET_Weichen" value="false" />
    <add key="Z21_Abos_LOCONET_Detector" value="false" />
    <add key="Auto_Connect" value="true" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>